<%- include("header"); -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae eros sed magna rutrum blandit a vitae odio. Integer consequat quam placerat felis auctor, et lacinia neque lacinia. Donec pharetra maximus augue, at tempor neque varius efficitur. Aenean volutpat nisi nisl, id condimentum orci faucibus non. Donec eget venenatis ipsum, vestibulum dictum metus. Phasellus efficitur ipsum leo, ut pharetra leo iaculis bibendum. Sed euismod tempor turpis, ut fermentum purus lobortis sit amet. Mauris in metus nec mi fermentum imperdiet ut vel urna. Proin dapibus tempor nisi sit amet feugiat. Ut congue arcu justo, sit amet gravida tortor tempus id. Quisque mattis at nisl ac lacinia. Nulla in ante nunc.</p>

<%- include("footer"); -%>